.g_nav {
    display: flex;
    flex-direction: column;


    &__top {
        height: 48px;
        line-height: 48px;
        background-color: #616871;
    }

    &__middle {
        padding-left: 16px;
        padding-right: 16px;
    }

    &__bottom {
        box-shadow: 0 10px 16px -6px rgba(0,0,0,.08);
    }
    &__logo-block {
        @include desktop-1024 {
            display: flex;
            align-items: center;
        }
    }

    &__top-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__top-left {
        display: flex;
        align-items: center;
        height: 48px;
    }

    &__top-gamburger {
        width: 24px;
        height: 24px;
        margin-right: 14px;
        fill: $color_gefault;
        @include desktop-1024 {
            display: none;
        }
    }

    &__top-logo {
        background: url(../img/header__logo.svg) no-repeat;
        width: 150px;
        height: 34px;
        fill: none;
        margin-right: 24px;
        @include desktop-1024 {

        }
    }

    &__top-left-links {
        display: none;
        @include desktop-1024 {
            display: flex;
        }
    }

    &__top-left-link {
        font-size: $nav_font_size;
        color: $color_gefault;
        text-transform: uppercase;
        margin-right: 24px;
        text-decoration: none;

        &:hover {
            color: $color_gefault_hover;
            text-decoration: none;
        }

        &_state {
            &_active {
                color: $color_gefault_active;
            }
        }
    }

    &__top-right {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover .g_nav__top-acc_name{
            color: $color_gefault_hover;
        }
    }
    &__top-acc_name {
        font-size: $nav_font_size;
        font-weight: bold;
        color: $color_gefault;
        margin-right: 14px;
        letter-spacing: 1px;
        display: none;
        @include desktop-1024 {
            display: block;
        }
    }

    &__top-acc_icon {
        width: 32px;
        height: 32px;
    }
    &__logout-icon {
        background: url(../img/header__logout-icon.png) no-repeat;
        width: 22px;
        height: 22px;
    }
}
