.g_nav {
    display: flex;
    flex-direction: column;


    &__top {
        height: 48px;
        line-height: 48px;
        background-color: #616871;
    }
    &__logo-block {
        @include desktop-1024 {
            display: flex;
            align-items: center;
        }
    }

    &__top-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__top-left {
        display: flex;
        align-items: center;
        height: 48px;
    }

    &__top-gamburger {
        width: 24px;
        height: 24px;
        margin-right: 14px;
        fill: $color_gefault;
        @include desktop-1024 {
            display: none;
        }
    }

    &__top-logo {
        background: url(../img/header__logo.svg) no-repeat;
        width: 150px;
        height: 34px;
        fill: none;
        margin-right: 24px;
        @include desktop-1024 {

        }
    }

    &__top-left-links {
        display: none;
        @include desktop-1024 {
            display: flex;
        }
    }

    &__top-left-link {
        font-size: $nav_font_size;
        color: rgba(255,255,255,.56);
        text-transform: uppercase;
        margin-right: 24px;
        text-decoration: none;

        &:hover {
            color: $color_gefault_hover;
            text-decoration: none;
        }

        &_state {
            &_active {
                color: $color_gefault_active;
            }
        }
    }

    &__top-right {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover .g_nav__top-acc_name{
            color: $color_gefault_hover;
        }
    }
    &__top-acc_name {
        font-size: $nav_font_size;
        font-weight: bold;
        color: $color_gefault;
        margin-right: 14px;
        letter-spacing: 1px;
        display: none;
        @include desktop-1024 {
            display: block;
        }
    }

    &__top-acc_icon {
        width: 32px;
        height: 32px;
    }

    &__middle {
        height: 48px;
        line-height: 48px;
        overflow-x: scroll;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #ffffff;
        box-shadow: inset 0 -1px 0 0 #e7e8ea;
        @include desktop-1024 {
            display: none;
        }
    }

    &__middle-left-links {
        display: flex;
    }

    &__middle-left-link {
        font-size: $nav_font_size;
        color: #959ba4;
        text-transform: uppercase;
        margin-right: 24px;
        text-decoration: none;

        &_state {
            &_active {
                color: #000000;
            }
        }
    }

    &__bottom {
        height: 48px;
        line-height: 48px;
        overflow-x: scroll;
        background-color: #ffffff;
        box-shadow: 0 10px 16px -6px rgba(0,0,0,.08);
        @include desktop-1024 {
            overflow-x: unset;
        }

    }

    &__bottom-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__bottom-left-link {
        position: relative;
        font-size: 13px;
        color: $color_gefault;
        margin-right: 24px;
        text-decoration: none;

        &:hover {
            color: #000000;
            text-decoration: none;
        }

        &:hover::after {
            content: '';
            position: absolute;
            bottom: 0px;
            height: 2px;
            left: 0;
            width: 100%;
            background-color: $color_gefault;
        }

        &_state {
            &_active {
                position: relative;
                color: #000000;
            }
            &_desktop-hidden {
                display: block;
                min-width: 100px;
                @include desktop-1024 {
                    display: none;
                }
            }
            &_active::after {
                content: '';
                position: absolute;
                bottom: 0px;
                height: 2px;
                left: 0;
                width: 100%;
                background-color: #ffdd2d;
            }
        }
    }

    &__bottom-right {
        display: none;
        position: relative;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        &:hover::after {
            content: '';
            position: absolute;
            bottom: 0px;
            height: 2px;
            left: 0;
            width: 100%;
            background-color: $color_gefault;
        }
        &:hover .g_nav__bottom-all-products{
            color: #000000;
            text-decoration: none;
        }
        &:hover .g_nav__bottom-all-products-icon{
            fill: #000000;
        }

        &:hover {
            text-decoration: none;
        }
        @include desktop-1024 {
            display: flex;
        }

        &_state {
            &_active {
                position: relative;
                color: #000000;
            }
            &_active::after {
                content: '';
                position: absolute;
                bottom: 0px;
                height: 2px;
                left: 0;
                width: 100%;
                background-color: #ffdd2d;
            }
        }

    }

    &__bottom-all-products {
        font-size: 13px;
        color: $color_gefault;
        margin-right: 8px;
        text-decoration: none;
    }

    &__bottom-all-products-icon {
        width: 32px;
        height: 32px;
        fill: $color_gefault;
    }

    &__bottom-left-links {
        display: flex;
    }

    &__logout-icon {
        background: url(../img/header__logout-icon.png) no-repeat;
        width: 22px;
        height: 22px;
    }
}
