.g_nav {
    display: flex;
    flex-direction: column;


    &__top {
        height: 48px;
        line-height: 48px;
        background-color: #616871;
    }
    &__logo-block {
        @include desktop-1024 {
            display: flex;
            align-items: center;
        }
    }

    &__top-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__top-left {
        display: flex;
        align-items: center;
        height: 48px;
    }

    &__top-gamburger {
        width: 24px;
        height: 24px;
        margin-right: 14px;
        fill: $color_gefault;
        @include desktop-1024 {
            display: none;
        }
    }

    &__top-logo {
        background: url(../img/header__logo.svg) no-repeat;
        width: 150px;
        height: 34px;
        fill: none;
        margin-right: 24px;
        @include desktop-1024 {

        }
    }

    &__top-left-links {
        display: none;
        @include desktop-1024 {
            display: flex;
        }
    }

    &__top-left-link {
        font-size: $nav_font_size;
        color: rgba(255,255,255,.56);
        text-transform: uppercase;
        margin-right: 24px;
        text-decoration: none;

        &:hover {
            color: $color_gefault_hover;
            text-decoration: none;
        }

        &_state {
            &_active {
                color: $color_gefault_active;
            }
        }
    }

    &__top-right {
        position: relative;
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover .g_nav__top-acc_name{
            color: $color_gefault_hover;
        }
        &:hover .g_nav__top-right-popup{
            display: block;
        }
    }
    &__top-acc_name {
        font-size: $nav_font_size;
        font-weight: bold;
        color: $color_gefault;
        margin-right: 14px;
        letter-spacing: 1px;
        display: none;
        @include desktop-1024 {
            display: block;
        }
    }

    &__top-acc_icon {
        width: 32px;
        height: 32px;
    }

    &__top-right-popup {
        display: none;
        position: absolute;
        width: 290px;
        bottom: -192px;
        right: 0;
        overflow: hidden;
        border: 1px solid #e7e8ea;
        border-radius: 4px;
        box-shadow: 0 8px 16px -4px rgba(0,0,0,.2);
        background-color: #fff;
        z-index: 9;
        @include desktop-1024 {
            width: 360px;
        }
    }

    &__top-right-popup-content {
        padding: 20px 24px;
        background-color: #fff;
    }
    &__top-right-popup-acc-name {
        margin: 0;
        font-size: 15px;
        line-height: 24px;
    }
    &__top-right-popup-acc-link {
        font-size: 13px;
        line-height: 20px
    }

    &__top-right-popup-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -1px;
        padding: 17px 14px 14px 24px;
        background-color: #f5f5f6;
        cursor: pointer;
        color: #959ba4;
    }

    &__top-right-popup-footer-logout-link {
        color: $color_gefault;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    &__top-right-popup-footer-logout-icon {
        width: 24px;
        height: 24px;
        fill: $color_gefault;
    }

    &__middle {
        height: 48px;
        line-height: 48px;
        overflow-x: scroll;
        padding-left: 16px;
        padding-right: 16px;
        background-color: #ffffff;
        box-shadow: inset 0 -1px 0 0 #e7e8ea;
        @include desktop-1024 {
            display: none;
        }
    }

    &__middle-left-links {
        display: flex;
    }

    &__middle-left-link {
        font-size: $nav_font_size;
        color: #959ba4;
        text-transform: uppercase;
        margin-right: 24px;
        text-decoration: none;

        &_state {
            &_active {
                color: #000000;
            }
        }
    }

    &__bottom {
        height: 48px;
        line-height: 48px;
        overflow-x: scroll;
        background-color: #ffffff;
        box-shadow: 0 10px 16px -6px rgba(0,0,0,.08);
        @include desktop-1024 {
            overflow-x: unset;
        }

    }

    &__bottom-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__bottom-left-link {
        position: relative;
        font-size: 13px;
        color: $color_gefault;
        margin-right: 24px;
        text-decoration: none;

        &:hover {
            color: #000000;
            text-decoration: none;
        }

        &:hover::after {
            content: '';
            position: absolute;
            bottom: 0px;
            height: 2px;
            left: 0;
            width: 100%;
            background-color: $color_gefault;
        }

        &_state {
            &_active {
                position: relative;
                color: #000000;
            }
            &_desktop-hidden {
                display: block;
                min-width: 100px;
                @include desktop-1024 {
                    display: none;
                }
            }
            &_active::after {
                content: '';
                position: absolute;
                bottom: 0px;
                height: 2px;
                left: 0;
                width: 100%;
                background-color: #ffdd2d;
            }
        }
    }

    &__bottom-right {
        display: none;
        position: relative;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        &:hover::after {
            content: '';
            position: absolute;
            bottom: 0px;
            height: 2px;
            left: 0;
            width: 100%;
            background-color: $color_gefault;
        }
        &:hover .g_nav__bottom-all-products{
            color: #000000;
            text-decoration: none;
        }
        &:hover .g_nav__bottom-all-products-icon{
            fill: #000000;
        }

        &:hover {
            text-decoration: none;
        }
        @include desktop-1024 {
            display: flex;
        }

        &_state {
            &_active {
                position: relative;
                color: #000000;
            }
            &_active::after {
                content: '';
                position: absolute;
                bottom: 0px;
                height: 2px;
                left: 0;
                width: 100%;
                background-color: #ffdd2d;
            }
        }

    }

    &__bottom-all-products {
        font-size: 13px;
        color: $color_gefault;
        margin-right: 8px;
        text-decoration: none;
    }

    &__bottom-all-products-icon {
        width: 32px;
        height: 32px;
        fill: $color_gefault;
    }

    &__bottom-left-links {
        display: flex;
    }

    &__slide-menu {
        position: fixed;
        top: 0;
        left: -100%;
        right: 100%;
        bottom: 0;
        margin: auto;
        width: calc(100% - 32px);
        z-index: 9999;
        background-color: #ffffff;
        transition: all ease-in-out $transition_default;

        @include desktop-1024 {
            display: none;
        }

        &_state{
            &_active {
                left: 0;
            }
            // &_active::before {
            //     // content: '';
            //     // position: absolute;
            //     // top: 0;
            //     // right: 0;
            //     // bottom: 0;
            //     // left: 0;
            //     // background-color: rgba(51,51,51,.48);
            // }
        }
    }

    &__slide-menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 24px;
        padding-right: 24px;
        height: 48px;
        line-height: 48px;
        background-color: #616871;
    }

    &__slide-menu-logo {
        background: url(../img/header__logo.svg) no-repeat;
        width: 150px;
        height: 34px;
        fill: none;
        margin-right: 24px;
        @include desktop-1024 {

        }
    }

    &__slide-menu-close-icon {
        width: 24px;
        height: 24px;
        fill: #ffffff;
    }

    &__slide-menu-content {
        display: flex;
        flex-direction: column;
        padding-left: 24px;
        padding-right: 24px;
    }
    &__slide-menu-item {
        display: flex;
        flex-direction: column;
        box-shadow: inset 0 -1px 0 0 #e7e8ea;
    }

    &__slide-menu-item-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__slide-menu-item-title {
        text-transform: uppercase;
        font-size: 11px;
        color: $color_gefault;

        &_state {
            &_active {
                color: #000;
            }
        }
    }
    &__slide-menu-item-arrow {
        width: 24px;
        height: 24px;
        fill: $color_gefault;
        transition: all ease-in-out $transition_default;
        &_state {
            &_active {
                transform: rotate(180deg);
            }
        }
    }
    &__slide-menu-list {
        // display: none;
        flex-direction: column;
        transition: all ease-in-out $transition_default;
        &_state {
            &_opened {
                display: flex;
            }
        }
    }
    &__slide-menu-list-item {
        display: flex;
        align-items: center;
        padding: 12px 16px 10px;
        text-decoration: none;
        font-size: 13px;
        line-height: 20px;
        color: $color_gefault;
        &_state {
            &_active {
                color: #000000;
            }
        }
    }

    &__logout-icon {
        background: url(../img/header__logout-icon.png) no-repeat;
        width: 22px;
        height: 22px;
    }
}
